 body {
     font-family: "Poppins", sans-serif;
     background-color: #f8f9fa;
     overflow-x: hidden;
 }

 .main-content {
     margin-left: 220px;
     padding: 20px;
     background: #f8f9fa;
     min-height: 100vh;
 }

 .form-header {
     background: linear-gradient(90deg, #6c5ce7, #00c6ff);
     color: white;
 }

 .btn-tambah-pengajuan {
     background: #ffffff !important;
     color: #6c5ce7 !important;
     border-radius: 20px;
     font-weight: 600;
 }

 .search-icon {
     font-size: 1.3rem;
     cursor: pointer;
     color: white;
 }

 .table-container {
     border-radius: 10px;
     overflow: hidden;
 }